// vux种定义的类名,更改原本vux的颜色
@button-primary-bg-color: #2f7dcd;
@button-primary-active-bg-color: #1e5da6;
@button-primary-disabled-bg-color: #80ade4;
@datetime-header-item-confirm-font-color: #2f7dcd;
